In [44]:
import pandas as pd
import numpy as np

In [45]:
data = pd.read_csv('/content/weatherAUS.csv')

In [46]:
data.head(5)

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [47]:
dataset = data.iloc[:, [1,2,3,4,7,8,9,10,11,12,13,14,15,16,19,20,21,22]]
dataset

       Location  MinTemp  MaxTemp  ...  Temp3pm RainToday  RainTomorrow
0        Albury     13.4     22.9  ...     21.8        No            No
1        Albury      7.4     25.1  ...     24.3        No            No
2        Albury     12.9     25.7  ...     23.2        No            No
3        Albury      9.2     28.0  ...     26.5        No            No
4        Albury     17.5     32.3  ...     29.7        No            No
...         ...      ...      ...  ...      ...       ...           ...
145455    Uluru      2.8     23.4  ...     22.4        No            No
145456    Uluru      3.6     25.3  ...     24.5        No            No
145457    Uluru      5.4     26.9  ...     26.1        No            No
145458    Uluru      7.8     27.0  ...     26.0        No            No
145459    Uluru     14.9      NaN  ...     20.9        No           NaN

[145460 rows x 18 columns]

In [48]:
dataset = dataset.dropna(subset=['Location', 'WindGustDir', 'WindDir9am','WindDir3pm','RainToday','RainTomorrow'])
dataset

       Location  MinTemp  MaxTemp  ...  Temp3pm RainToday  RainTomorrow
0        Albury     13.4     22.9  ...     21.8        No            No
1        Albury      7.4     25.1  ...     24.3        No            No
2        Albury     12.9     25.7  ...     23.2        No            No
3        Albury      9.2     28.0  ...     26.5        No            No
4        Albury     17.5     32.3  ...     29.7        No            No
...         ...      ...      ...  ...      ...       ...           ...
145454    Uluru      3.5     21.8  ...     20.9        No            No
145455    Uluru      2.8     23.4  ...     22.4        No            No
145456    Uluru      3.6     25.3  ...     24.5        No            No
145457    Uluru      5.4     26.9  ...     26.1        No            No
145458    Uluru      7.8     27.0  ...     26.0        No            No

[123710 rows x 18 columns]

In [49]:
 from sklearn import preprocessing
 le = preprocessing.LabelEncoder()
 dataset["Location"] = le.fit_transform(dataset["Location"])
 dataset["WindGustDir"] = le.fit_transform(dataset["WindGustDir"])
 dataset["WindDir9am"] = le.fit_transform(dataset["WindDir9am"])
 dataset["WindDir3pm"] = le.fit_transform(dataset["WindDir3pm"])
 dataset["RainToday"] = le.fit_transform(dataset["RainToday"])
 dataset["RainTomorrow"] = le.fit_transform(dataset["RainTomorrow"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
dataset

        Location  MinTemp  MaxTemp  ...  Temp3pm  RainToday  RainTomorrow
0              1     13.4     22.9  ...     21.8          0             0
1              1      7.4     25.1  ...     24.3          0             0
2              1     12.9     25.7  ...     23.2          0             0
3              1      9.2     28.0  ...     26.5          0             0
4              1     17.5     32.3  ...     29.7          0             0
...          ...      ...      ...  ...      ...        ...           ...
145454        39      3.5     21.8  ...     20.9          0             0
145455        39      2.8     23.4  ...     22.4          0             0
145456        39      3.6     25.3  ...     24.5          0             0
145457        39      5.4     26.9  ...     26.1          0             0
145458        39      7.8     27.0  ...     26.0          0             0

[123710 rows x 18 columns]

In [54]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1:]

In [56]:
X

        Location  MinTemp  MaxTemp  ...  Temp9am  Temp3pm  RainToday
0              1     13.4     22.9  ...     16.9     21.8          0
1              1      7.4     25.1  ...     17.2     24.3          0
2              1     12.9     25.7  ...     21.0     23.2          0
3              1      9.2     28.0  ...     18.1     26.5          0
4              1     17.5     32.3  ...     17.8     29.7          0
...          ...      ...      ...  ...      ...      ...        ...
145454        39      3.5     21.8  ...      9.4     20.9          0
145455        39      2.8     23.4  ...     10.1     22.4          0
145456        39      3.6     25.3  ...     10.9     24.5          0
145457        39      5.4     26.9  ...     12.5     26.1          0
145458        39      7.8     27.0  ...     15.1     26.0          0

[123710 rows x 17 columns]

In [57]:
y

        RainTomorrow
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
145454             0
145455             0
145456             0
145457             0
145458             0

[123710 rows x 1 columns]

In [58]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
X = imputer.fit_transform(X)

In [52]:
X

array([[ 1. , 13.4, 22.9, ..., 21.8,  0. ,  0. ],
       [ 1. ,  7.4, 25.1, ..., 24.3,  0. ,  0. ],
       [ 1. , 12.9, 25.7, ..., 23.2,  0. ,  0. ],
       ...,
       [39. ,  3.6, 25.3, ..., 24.5,  0. ,  0. ],
       [39. ,  5.4, 26.9, ..., 26.1,  0. ,  0. ],
       [39. ,  7.8, 27. , ..., 26. ,  0. ,  0. ]])

In [59]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [60]:
X

array([[0.02173913, 0.51650943, 0.52362949, ..., 0.50843882, 0.52207294,
        0.        ],
       [0.02173913, 0.375     , 0.56521739, ..., 0.51476793, 0.57005758,
        0.        ],
       [0.02173913, 0.50471698, 0.57655955, ..., 0.59493671, 0.54894434,
        0.        ],
       ...,
       [0.84782609, 0.28537736, 0.56899811, ..., 0.38185654, 0.57389635,
        0.        ],
       [0.84782609, 0.32783019, 0.59924386, ..., 0.41561181, 0.60460653,
        0.        ],
       [0.84782609, 0.38443396, 0.60113422, ..., 0.47046414, 0.60268714,
        0.        ]])

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [63]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [64]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8463341686201601

In [66]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
clf = LDA()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8444480370759572

In [67]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8508339395899012

In [68]:
from sklearn.neighbors import NearestNeighbors
neigh = NearestNeighbors(n_neighbors=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8508339395899012

In [69]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7885107644221702

In [70]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.8137849271144881

In [72]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8087732061541778

In [76]:
from sklearn.linear_model import Perceptron
clf = Perceptron()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.835232937245709

In [74]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(random_state=1, max_iter=300)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8524506237706464